n8n-simple-workflow.json
{
  "name": "Lab Booking Simple Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "telegram_message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "chat_id", 
              "value": "YOUR_CHAT_ID_HERE"
            },
            {
              "name": "event_debug",
              "value": "Event: {{ $json.event_type }}"
            }
          ]
        }
      },
      "id": "set",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "{{ $json.telegram_message }}\n\n🔍 Debug: {{ $json.event_debug }}",
        "parseMode": "Markdown"
      },
      "id": "telegram",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram", 
      "typeVersion": 1,
      "position": [580, 300],
      "credentials": {
        "telegramApi": "YOUR_TELEGRAM_CREDENTIALS"
      }
    },
    {
      "parameters": {
        "statusCode": 200,
        "body": "{{ { \"success\": true, \"event_type\": $json.event_type } }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respond",
      "typeVersion": 1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Respond", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "Asia/Jakarta"
  }
}
