n8n-lab-booking-workflow.json
{
  "name": "Lab Booking Telegram Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-notification",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.event_type }}",
        "rules": {
          "rules": [
            {
              "value2": "booking_created",
              "output": 0
            },
            {
              "value2": "booking_status_updated", 
              "output": 1
            },
            {
              "value2": "test_notification",
              "output": 2
            }
          ]
        }
      },
      "id": "switch-event-type",
      "name": "Switch Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "telegram_message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "chat_id",
              "value": "YOUR_TELEGRAM_CHAT_ID"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "set-new-booking",
      "name": "Set New Booking Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "telegram_message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "chat_id",
              "value": "YOUR_TELEGRAM_CHAT_ID"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "set-status-update",
      "name": "Set Status Update Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "telegram_message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "chat_id",
              "value": "YOUR_TELEGRAM_CHAT_ID"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "set-test-notification",
      "name": "Set Test Notification Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        440
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.telegram_message }}",
        "parseMode": "Markdown"
      },
      "id": "telegram-send-new",
      "name": "Send New Booking Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.telegram_message }}",
        "parseMode": "Markdown"
      },
      "id": "telegram-send-status",
      "name": "Send Status Update",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        900,
        320
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.telegram_message }}",
        "parseMode": "Markdown"
      },
      "id": "telegram-send-test",
      "name": "Send Test Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        900,
        440
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "statusCode": 200,
        "body": {
          "success": true,
          "message": "Notification sent successfully"
        }
      },
      "id": "response-success",
      "name": "Response Success",
      "type": "n8n-nodes-base.respond",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Switch Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Event Type": {
      "main": [
        [
          {
            "node": "Set New Booking Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Status Update Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Test Notification Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set New Booking Data": {
      "main": [
        [
          {
            "node": "Send New Booking Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Update Data": {
      "main": [
        [
          {
            "node": "Send Status Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Notification Data": {
      "main": [
        [
          {
            "node": "Send Test Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send New Booking Alert": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Status Update": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Test Message": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "Asia/Jakarta"
  },
  "versionId": "1.0.0"
}
