n8n-robust-workflow.json
{
  "name": "Lab Booking Robust",
  "nodes": [
    {
      "parameters": {
        "path": "booking-notification",
        "httpMethod": "POST"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [220, 300],
      "id": "webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message_text",
              "value": "={{$json.data?.message || $json.message || 'Booking notification received but message content unavailable'}}"
            },
            {
              "name": "event_type",
              "value": "={{$json.data?.event_type || $json.event_type || 'unknown'}}"
            },
            {
              "name": "user_name", 
              "value": "={{$json.data?.user_name || $json.user_name || 'Unknown User'}}"
            }
          ]
        }
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [380, 300],
      "id": "extract"
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID_HERE",
        "text": "={{$json.message_text}}\n\n📋 Event: {{$json.event_type}}\n👤 User: {{$json.user_name}}",
        "parseMode": "none"
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [540, 300],
      "id": "telegram",
      "credentials": {
        "telegramApi": "telegram_credentials"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true
}
