n8n-compatible-workflow.json
{
  "name": "Lab Booking Compatible",
  "nodes": [
    {
      "parameters": {
        "path": "booking-notification",
        "httpMethod": "POST"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        300
      ],
      "id": "d5c5c4b4-8b1a-4c2d-9e3f-1a2b3c4d5e6f"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{$json.message}}"
            },
            {
              "name": "event_type", 
              "value": "={{$json.event_type}}"
            },
            {
              "name": "chat_id",
              "value": "YOUR_CHAT_ID_HERE"
            }
          ]
        }
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        300
      ],
      "id": "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "🔔 Lab Booking Notification\n\n{{$json.message}}\n\nEvent: {{$json.event_type}}"
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        540,
        300
      ],
      "id": "b2c3d4e5-6f78-90ab-cdef-123456789012",
      "credentials": {
        "telegramApi": "telegram_bot_credentials"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true
}
